{% extends "base.html" %}
{% block content %}

{% with messages = get_flashed_messages()%}
        {% if messages %}
        {% for mess in messages%}
        {% if error %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>{{error}}</strong>  {{ mess }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
{% else %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>{{error}}</strong>  {{ mess }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
{% endif %}


        {% endfor %}
    {% endif %}
    {% endwith %}



<section style="background-size: cover;background-repeat: no-repeat;background-image: url('https://images.unsplash.com/photo-1596733430284-f7437764b1a9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');" >
      <div class="row d-flex justify-content-center align-items-center h-100">
          <form class="card" method="POST" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5 en">Add Milk Data</h2>
              <h2 class="text-uppercase text-center mb-5 tn">பால் கணக்கை சேர்க்க</h2>
    {{form.hidden_tag()}}

    <div class="row" align="right">

        <div class="col-md-6" align="left">
            {{form.price(value=rate, id="form3Example4cg",class="form-control form-control-lg",style="background-color: powderblue;")}}
            <label class="form-label en" for="form3Example4cg">{{form.price.label}}</label>
            <label class="form-label tn" for="form3Example4cg">பால் விலை</label>
        </div>
        <div class="col-md-6" align="right">
            {{form.milking_charge(value=milking_charge,id="form3Example4cg",class="form-control form-control-lg",style="background-color: powderblue;")}}
            <label class="form-label en" for="form3Example4cg">{{form.milking_charge.label}}</label>
            <label class="form-label tn" for="form3Example4cg">கறவைக்காசு</label>
        </div>
    </div>



        <div class="form-outline mb-4 justify-content-center" >
            <div class="row">

        {% if modified_day=="None" %}

                <div class="col-sm-8">
        {{form.milked_date(class="form-control form-control-lg",
            value=day,onchange="handler(event);")}}
                </div>

                {% else %}
                <div class="col-sm-8">
        {{form.milked_date(class="form-control form-control-lg",
            value=modified_day,onchange="handler(event);")}}
                </div>

            <div class="col-sm-4 ">

            {% for time in form.milked_time %}
                {{ time(onchange="handler(event);")}}
                {{time.label(class="en")}}

                {% if loop.index == 1%}
                <label for="milked_time-0" class="tn" style="display: inline-block !important;">காலை</label>
                {% else %}
                <label for="milked_time-1" class="tn" style="display: inline-block !important; ">மாலை</label>
                {% endif %}
                {% endfor %}
            </div>
</div>
        {% endif %}
        </div>

    <div class="table-responsive fixed-table-body" >
  <table class="table table-striped" id="sortTable" >

  <thead>
    <tr >
      {% for col_no in range(header|length) %}
        <th scope="col" class="en thead-dark" >
        {{ header[col_no] }}
      </th>
      {% endfor %}

        {% for col_no in range(tm_header|length) %}
        <th scope="col" class="tn thead-dark" >
        {{ tm_header[col_no] }}
      </th>
      {% endfor %}
    </tr>
  </thead>
     <tbody >
     {% if milk_data_for_today%}
        {% for values in milk_data_for_today %}
            {% set looping = loop.index-1 %}
         <tr>
             <td hidden>
                 {{form.daily_data[0].owner_id(value=values.owner_id,readonly=True,
                 id="daily_data-"+ (looping | string) +"-owner_id",class="form-control")}}
             </td>
             <td>
                 <a href="" id="link" data-toggle="modal"
                    data-target="#modalLoginAvatar-{{values.owner_id}}">{{values.owner_id}}
                 </a>
             </td>

        <!--Modal: Login with Avatar Form-->
        <div class="modal fade" id="modalLoginAvatar-{{values.owner_id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog cascading-modal modal-avatar modal-sm" role="document">
            <!--Content-->
            <div class="modal-content">

              <!--Header-->
              <div class="modal-header">
                <img src="{{url_for('static', filename='profile_pics/' + values.owner_details().profile_pic_name)
                 if values.owner_details().profile_pic_name
                         else '/static/images/default_cust.jpg'}}" alt="avatar" width=100%; class="rounded-circle img-responsive">
              </div>
              <!--Body-->
              <div class="modal-body text-center mb-1">

                <h5 class="mt-1 mb-2">{{values.owner_details().name}}</h5>
                <label data-error="wrong" data-success="right" class="ml-0 en">{{form.daily_data[0].fodder.label}}</label>
                    <label data-error="wrong" data-success="right" class="ml-0 tn">புண்ணாக்கு</label>
                <div class="md-form ml-0 mr-0">
                              {{ form.daily_data[0].fodder(value=values.fodder,
                         id="daily_data-"+ (looping | string) +"-fodder",class="form-control form-control-sm validate ml-0",
                    placeholder="Fodder") }}
                </div>

                  <label data-error="wrong" data-success="right" class="ml-0 en">{{form.daily_data[0].loan.label}}</label>
                    <label data-error="wrong" data-success="right" class="ml-0 tn">கடன்</label>
                  <div class="md-form ml-0 mr-0">
                      {{ form.daily_data[0].loan(value=values.loan if values.loan != none else 0,
                 id="daily_data-"+ (looping | string) +"-loan",class="form-control") }}
                  </div>
                    <label data-error="wrong" data-success="right" class="ml-0 en">{{form.daily_data[0].advance.label}}</label>
                    <label data-error="wrong" data-success="right" class="ml-0 tn">முன்பணம்</label>
                <div class="md-form ml-0 mr-0">
                    {{ form.daily_data[0].advance(value=values.advance if values.advance != none else 0,
                 id="daily_data-"+ (looping | string) +"-advance",class="form-control") }}
                </div>
                  <label data-error="wrong" data-success="right" class="ml-0 en">{{form.daily_data[0].dr_service.label}}</label>
                  <label data-error="wrong" data-success="right" class="ml-0 tn">மருத்துவச் செலவு</label>
                <div class="md-form ml-0 mr-0">
                {{ form.daily_data[0].advance(value=values.dr_service if values.dr_service != none else 0,
                 id="daily_data-"+ (looping | string) +"-dr_service",class="form-control") }}
                    {% if values.owner_id in owners_with_loan %}
                   <div class="row">

                       <div class="col-4">
                        <label data-error="wrong" data-success="right" class="ml-0 en">{{form.daily_data[0].loan_id.label}}</label>
                  <label data-error="wrong" data-success="right" class="ml-0 tn">எண்</label>
                <div class="md-form ml-0 mr-0">
                    <select
                            class="form-control" id= "{{'daily_data-' + (looping | string) + '-loan_id'}}"
                    name="daily_data-0-loan_id" style="border-color: rgb(42, 185, 52);"
                    onchange="loan_id_change(event)">

                    {%for loan_id in loan_details %}
                    {%if loan_id.owner_id == values.owner_id %}
                        <option value="{{loan_id.loan_id}}">{{loan_id.loan_id |string +" | " + loan_id.loan_type}}</option>
                    {% endif %}
                    {% endfor %}

                    </select>
                </div>
                </div>
                    <div class="col-4">
                        <label data-error="wrong" data-success="right" class="ml-0 en">Debt</label>
                  <label data-error="wrong" data-success="right" class="ml-0 tn">கடன்</label>
                <div class="md-form ml-0 mr-0">
                    <input type="text" readonly class="form-control"
                       id="{{"total_loan_"+values.owner_id | string}}"
                       name="total_loan"
                       value=""><br><br>
                </div>
                </div>
                    <div class="col-4">
                        <label data-error="wrong" data-success="right" class="ml-0 en">{{form.daily_data[0].loan_amount.label}}</label>
                  <label data-error="wrong" data-success="right" class="ml-0 tn">வரவு</label>
                <div class="md-form ml-0 mr-0">

                {{ form.daily_data[0].loan_amount(value=values.loan_payment if values.loan_payment != none else 0,
                    id="daily_data-"+ (looping | string) +"-loan_amount",class="form-control") }}
                </div>
                </div>
                   </div>
                    {% endif %}

                <div class="text-center mt-4">
                    {{form.submit(class="btn btn-success btn-block btn-lg gradient-custom-4 text-body en justify-content-center")}}
                    {{form.submit(class="btn btn-success btn-block btn-lg gradient-custom-4 text-body tn justify-content-center",value="சேர்")}}
                </div>
              </div>

            </div>
            <!--/.Content-->
          </div>
        </div>


             <td hidden>{{form.daily_data[0].place(value=values.owner_details().place,
                 readonly=True,
                 id="daily_data-"+ (looping | string) +"-place",class="form-control")}}
             </td>
             <td>
                 {{values.owner_details().place}}
             </td>

             <td hidden>{{form.daily_data[0].cust_name(value=values.owner_details().name,
                 readonly=True,
                 id="daily_data-"+ (looping | string) +"-cust_name",class="form-control")}}
             </td>
             <td>
                 {{values.owner_details().name}}
             </td>
             {% if no_milker != True %}
             <td>{{ form.daily_data[0].milker(option=values.milker_id,
                 id="daily_data-"+ (looping | string) +"-milker",class="form-control") }}
             </td>
             {% endif %}

            {% if milked_time == "am" %}
             <td>{{ form.daily_data[0].litre(value=((values.am_litre | string).split('.')[0] | int),
                 id="daily_data-"+ (looping | string) +"-litre",class="form-control") }}
             </td>
                 {% if values.am_litre != None %}
                 <td>{{ form.daily_data[0].ml(value=((values.am_litre | string).split('.')[1] | int),
                     id="daily_data-"+ (looping | string) +"-ml",class="form-control") }}
                 </td>
                 {% else %}
                 <td>{{ form.daily_data[0].ml(value=((values.am_litre | string).split('.') | int),
                     id="daily_data-"+ (looping | string) +"-ml",class="form-control") }}
                 </td>

                 {% endif %}
             {% else %}
             <td>{{ form.daily_data[0].litre(value=((values.pm_litre | string).split('.')[0] | int),
                 id="daily_data-"+ (looping | string) +"-litre",class="form-control") }}
             </td>
                 {% if values.pm_litre != None %}
                 <td>{{ form.daily_data[0].ml(value=((values.pm_litre | string).split('.')[1] | int),
                     id="daily_data-"+ (looping | string) +"-ml",class="form-control") }}
                 </td>
                {% else %}
                <td>{{ form.daily_data[0].ml(value=((values.pm_litre | string).split('.') | int),
                     id="daily_data-"+ (looping | string) +"-ml",class="form-control") }}
                 </td>
                {% endif %}
             {% endif %}


           </tr>
        {% endfor %}


     {% else %}


        {% for values in customer_set%}
        {% set looping = loop.index-1 %}
      {% if values.surname %}
     {% set fullname = values.name+' '+ values.surname %}
                  {% else %}
                {% set fullname = values.name%}
                  {% endif %}

     <tr>

                  <td hidden>{{form.daily_data[0].owner_id(value=values.owner_id,readonly=True,id="daily_data-"+ (looping | string) +"-owner_id",class="form-control")}}</td>
         <td><a href="" id="link" data-toggle="modal" data-target="#modalLoginAvatar-{{values.owner_id}}">
                 {{values.owner_id}}</a>
             </td>

        <!--Modal: Login with Avatar Form-->
        <div class="modal fade" id="modalLoginAvatar-{{values.owner_id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog cascading-modal modal-avatar modal-sm" role="document">
            <!--Content-->
            <div class="modal-content">

              <!--Header-->
              <div class="modal-header">
                <img src="{{url_for('static', filename='profile_pics/' + values.profile_pic_name)
                 if values.profile_pic_name
                         else '/static/images/default_cust.jpg'}}" alt="avatar" width=100%; class="rounded-circle img-responsive">
              </div>
              <!--Body-->
              <div class="modal-body text-center mb-1">
                {% if values.surname %}

                  <h5 class="mt-1 mb-2">{{fullname }}</h5>
                  {% else %}
                <h5 class="mt-1 mb-2">{{fullname }}</h5>
                  {% endif %}

                            <div class="md-form ml-0 mr-0">
<!--                  <input type="password" type="text" id="form29" class="form-control form-control-sm validate ml-0">-->
<!--                  <label data-error="wrong" data-success="right" for="form29" class="ml-0">Enter password</label>-->
                    <label data-error="wrong" data-success="right" class="ml-0 en">{{form.daily_data[0].fodder.label}}</label>
                    <label data-error="wrong" data-success="right" class="ml-0 tn">புண்ணாக்கு</label>
                    {{ form.daily_data[0].fodder(
                    id="daily_data-"+ (looping | string) +"-fodder",class="form-control form-control-sm validate ml-0",
                    placeholder="Fodder"
                    ) }}
                    <label data-error="wrong" data-success="right" class="ml-0 en">{{form.daily_data[0].loan.label}}</label>
                    <label data-error="wrong" data-success="right" class="ml-0 tn">கடன்</label>
                    {{ form.daily_data[0].loan(
                    id="daily_data-"+ (looping | string) +"-loan",class="form-control form-control-sm validate ml-0",
                    placeholder="Loan"
                    ) }}
                    <label data-error="wrong" data-success="right" class="ml-0 en">{{form.daily_data[0].advance.label}}</label>
                    <label data-error="wrong" data-success="right" class="ml-0 tn">முன்பணம்</label>
                    {{ form.daily_data[0].advance(
                    id="daily_data-"+ (looping | string) +"-advance",
                    class="form-control form-control-sm validate ml-0",
                    placeholder="Advance"
                    )}}
                    <label data-error="wrong" data-success="right" class="ml-0 en">{{form.daily_data[0].dr_service.label}}</label>
                    <label data-error="wrong" data-success="right" class="ml-0 tn">மருத்துவச் செலவு</label>
                    {{ form.daily_data[0].dr_service(
                    id="daily_data-"+ (looping | string) +"-dr_service",
                    class="form-control form-control-sm validate ml-0",
                    placeholder="Dr_Fees"
                    ) }}
                </div>
                  {% if values.owner_id in owners_with_loan %}
                   <div class="row">

                       <div class="col-4">
                        <label data-error="wrong" data-success="right" class="ml-0 en">{{form.daily_data[0].loan_id.label}}</label>
                  <label data-error="wrong" data-success="right" class="ml-0 tn">எண்</label>
                <div class="md-form ml-0 mr-0">
                    <select
                            class="form-control" id= "{{'daily_data-' + (looping | string) + '-loan_id'}}"
                    name="daily_data-0-loan_id" style="border-color: rgb(42, 185, 52);"
                    onchange="loan_id_change(event)">
                        {%for loan_id in loan_details %}
                    {%if loan_id.owner_id == values.owner_id %}
                        <option value="{{loan_id.loan_id}}">{{loan_id.loan_id |string +" | " + loan_id.loan_type}}</option>
                    {% endif %}
                    {% endfor %}

                    </select>
                </div>
                </div>
                    <div class="col-4">
                        <label data-error="wrong" data-success="right" class="ml-0 en">Debt</label>
                  <label data-error="wrong" data-success="right" class="ml-0 tn">கடன்</label>
                <div class="md-form ml-0 mr-0">
                <input type="text" readonly class="form-control"
                       id="{{"total_loan_"+values.owner_id | string}}" name="total_loan" value="">
                    <br><br>
                </div>
                </div>
                    <div class="col-4">
                        <label data-error="wrong" data-success="right" class="ml-0 en">
                            {{form.daily_data[0].loan_amount.label}}</label>
                  <label data-error="wrong" data-success="right" class="ml-0 tn">வரவு</label>
                <div class="md-form ml-0 mr-0">
                {{ form.daily_data[0].loan_amount(value=values.loan_payment if values.loan_payment != none else 0,
                    id="daily_data-"+ (looping | string) +"-loan_amount",class="form-control") }}
                </div>
                </div>
                   </div>
                    {% endif %}


                <div class="text-center mt-4">
                        {{form.submit(class="btn btn-success btn-block btn-lg gradient-custom-4 text-body en justify-content-center")}}
                        {{form.submit(class="btn btn-success btn-block btn-lg gradient-custom-4 text-body tn justify-content-center",value="சேர்")}}
                </div>
              </div>

            </div>
            <!--/.Content-->
          </div>
        </div>


         <td hidden>{{form.daily_data[0].place(value=values.place,readonly=True,id="daily_data-"+ (looping | string) +"-place",class="form-control")}}</td>
         <td>{{values.place}}</td>
         <td hidden >{{form.daily_data[0].cust_name(value=fullname,readonly=True,id="daily_data-"+ (looping | string) +"-cust_name",class="form-control")}}</td>
         <td>{{fullname}}</td>
         {% if no_milker != True %}
         <td>{{ form.daily_data[0].milker(option="2",
             id="daily_data-"+ (looping | string) +"-milker",class="form-control")
             }}</td>
         {% endif %}
         <td>{{ form.daily_data[0].litre(id="daily_data-"+ (looping | string) +"-litre",class="form-control") }}</td>
         <td>{{ form.daily_data[0].ml(id="daily_data-"+ (looping | string) +"-ml",class="form-control") }}</td>
       </tr>

     {% endfor %}

      {% endif %}
  </table>
</div>
                <div class="d-flex justify-content-center">
                  {{form.submit(class="btn btn-success btn-block btn-lg gradient-custom-4 text-body en justify-content-center")}}
                  {{form.submit(class="btn btn-success btn-block btn-lg gradient-custom-4 text-body tn justify-content-center",value="சேர்")}}
    </div><br>
                <div class="d-flex justify-content-center">
    <a href="{{ url_for('core.index') }}" class="btn btn-secondary en">Cancel</a>
                </div>
        <div class="d-flex justify-content-center">
    <a href="{{ url_for('core.index') }}" class="btn btn-secondary tn">ரத்து செய்</a>
                </div>
</form>
                </div>
          </form>
      </div>
</section>

<script>
//To handle loan id values on select
loan_id = document.querySelectorAll('[id $= "-loan_id"]');
Array.prototype.forEach.call(loan_id, loan_id_amount);

function loan_id_amount(element, iterator) {
    var loan_amount =  document.getElementById('total_loan');
    var x = 2;
    console.log(element.value);
    try {
    {% for loan in loan_details%}
    console.log(element.value, {{loan.loan_id | string}} ,{{ loan.loan_amount | string}});
    if ( element.value == {{loan.loan_id}} ){
    console.log({{loan.loan_id + loan.loan_amount}});
    document.getElementById('total_loan_'+{{loan.owner_id}}).value = "{{loan.loan_amount}}";
    }
    {% endfor %}
    }
    catch(err) {
        document.getElementById("total_loan").innerHTML = err.message;
    }


}


function loan_id_change(event) {
    var loan_amount =  document.getElementById('total_loan');
    var element = event.value;
    var x = 2;
    console.log(event.target.value);
    try {
    {% for loan in loan_details%}
    console.log(event.target.value, {{loan.loan_id | string}} ,{{ loan.loan_amount | string}});
    if ( event.target.value == {{loan.loan_id}} ){
    console.log({{loan.loan_id + loan.loan_amount}});
    document.getElementById('total_loan_'+{{loan.owner_id}}).value = "{{loan.loan_amount}}";
    }
    {% endfor %}
    }
    catch(err) {
        document.getElementById("total_loan").innerHTML = err.message;
    }


}


</script>
{% endblock %}

