{% extends "base.html" %}
{% block content %}

{% with messages = get_flashed_messages()%}
        {% if messages %}
        {% for mess in messages%}

        <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>{{error}}</strong>  {{ mess }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>


        {% endfor %}
    {% endif %}
    {% endwith %}


<div class="container" align="center">
<form method="POST">
{{form.hidden_tag()}}
    <div class="row">
      <div class="col-sm"></div>
        <div class="col-sm">{{form.milked_date.label}}</div>
        <div class="col-sm"></div>
    </div>
    <div class="row">
      <div class="col-sm"></div>
        {% if modified_day=="None" %}
        <div class="col-sm">{{form.milked_date(value=day,onchange="handler(event);")}}</div>
        {% else %}
        <div class="col-sm">{{form.milked_date(value=modified_day,onchange="handler(event);")}}
        {{ form.milked_time.label}}
            {% for time in form.milked_time %}{{ time(onchange="handler(event);")}} {{time.label}} {% endfor %}
        </div>

        {% endif %}
        <div class="col-sm"></div>
    </div>
    <div class="table-responsive" >
  <table class="table table-striped" id="sortTable">

  <thead>
    <tr>
      {% for col_no in range(header|length) %}
      <th scope="col" class="thead-dark">
        {{ header[col_no] }}
      </th>
      {% endfor %}
    </tr>
  </thead>
     <tbody>

     {% if milk_data_for_today%}
     {% for daily_data in form.daily_data %}

        {% for values in milk_data_for_today %}
        {% set looping = loop.index-1 %}


     <tr>
         <td>{{daily_data.owner_id(value=values.owner_id,readonly=True,
             id="daily_data-"+ (looping | string) +"-owner_id")}}
         </td>
         <td>{{daily_data.cust_name(value=values.owner_details().name,
             readonly=True,
             id="daily_data-"+ (looping | string) +"-cust_name")}}
         </td>
         <td>{{daily_data.place(value=values.owner_details().place,
             readonly=True,
             id="daily_data-"+ (looping | string) +"-place")}}
         </td>
         <td>{{ daily_data.milker(option=values.milker_id,
             id="daily_data-"+ (looping | string) +"-milker") }}
         </td>

         <td>{{ daily_data.litre(value=values.litre,
             id="daily_data-"+ (looping | string) +"-litre") }}
         </td>
         <td>{{ daily_data.ml(value=values.ml,
             id="daily_data-"+ (looping | string) +"-ml") }}
         </td>
       </tr>
    {% endfor %}
    {% endfor %}

     {% else %}
     {% for daily_data in form.daily_data %}

        {% for values in customer_set%}
        {% set looping = loop.index-1 %}

     <tr>
         <td>{{daily_data.owner_id(value=values[0],readonly=True,id="daily_data-"+ (looping | string) +"-owner_id")}}</td>
         <td>{{daily_data.cust_name(value=values[1],readonly=True,id="daily_data-"+ (looping | string) +"-cust_name")}}</td>
         <td>{{daily_data.place(value=values[2],readonly=True,id="daily_data-"+ (looping | string) +"-place")}}</td>
         <td>{{ daily_data.milker(option="1",
             id="daily_data-"+ (looping | string) +"-milker")
             }}</td>
         <td>{{ daily_data.litre(id="daily_data-"+ (looping | string) +"-litre") }}</td>
         <td>{{ daily_data.ml(id="daily_data-"+ (looping | string) +"-ml") }}</td>
       </tr>
    {% endfor %}
    {% endfor %}
      {% endif %}
  </table>
</div>
{{form.submit()}} <a href="{{ url_for('core.index') }}" class="btn btn-secondary">Cancel</a>
</form>
    {% if form.errors %}
    {{ form.errors }}
{% endif %}
</div>
</div>


{% endblock %}
