{% extends "base.html" %}
{% block content %}

{% with messages = get_flashed_messages()%}
        {% if messages %}
        {% for mess in messages%}

                <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>{{error}}</strong>  {{ mess }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
        {% endfor %}
    {% endif %}
    {% endwith %}

<link href="/static/css/invoice.css" rel="stylesheet">
<section style="background-size: cover;background-repeat: no-repeat;background-image: url('https://images.unsplash.com/photo-1596733430284-f7437764b1a9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');">

      <div class="row d-flex justify-content-center align-items-center h-100">
          <form class="card" method="POST" style="border-radius: 15px;">
            <div class="card-body p-5">

                <br>

      <div id="logo">
        <img src="/static/images/default_cust.jpg">
      </div>


        {% for name,data in per_user_bill.items() %}
            {% for cust in customer_set %}
                {% if cust.owner_id == name %}
                <header class="clearfix">
    <h1 class="text-uppercase text-center mb-5 en">{{cust.owner_id}}</h1>
            <h1 class="text-uppercase text-center mb-5 tn">{{cust.owner_id}} </h1>
        <div id="company" class="clearfix">
        <div>Company Name</div>
        <div>455 Foggy Heights,<br /> AZ 85004, US</div>
        <div>(602) 519-0450</div>
        <div><a href="mailto:company@example.com">company@example.com</a></div>
      </div>
      <div id="project">
<!--        <div><span>PROJECT</span> Website development</div>-->
        <div><span>NAME</span> {{cust.name}}</div>
        <div><span>PLACE</span>
            {{cust.place}}
        </div>
        <div><span>PHONE</span> {{cust.phone_number}}</div>
        <div><span>EMAIL</span> <a href="">{{cust.email}}</a></div>
          <div><span>Dairy Loan</span> {{cust.dairy_loan}}</a></div>
          <div><span>KCC Loan</span> {{cust.kcc_loan}}</a></div>
      </div>
    </header>
    <main>
      <table>
        <thead>
          <tr>
        {% for col_no in range(header|length) %}
      <th scope="col" class="thead-dark en">
        {{ header[col_no] }}
      </th>
      {% endfor %}
    </tr>
    <tr>
        {% for col_no in range(header|length) %}
      <th scope="col" class="thead-dark tn">
        {{ tm_header[col_no] }}
      </th>
      {% endfor %}

    </tr>
        </thead>
        <tbody>

        {% for d in data['milk_data'] %}
          <tr>
            <td class="service">{{d.milked_date.strftime('%Y-%m-%d') }}</td>
            <td class="desc">{{d.am_litre }}</td>
            <td class="unit">{{d.pm_litre}}</td>
              {% set price = (d.am_litre + d.pm_litre) * d.price %}
            <td class="qty">{{d.fodder}}</td>
              <td class="qty">{{d.loan}}</td>
              <td class="qty">{{d.advance}}</td>
              <td class="qty">{{d.dr_service}}</td>
            <td class="total">{{"%.2f" | format(price) }}</td>
            </td>
          </tr>
        {% endfor %}
        <tr>
            <td class="en">Total</td>
            <td class="tn">மொத்தம்</td>
            <td>{{data['am']}}</td>
            <td>{{data['pm']}}</td>
            <td>{{data['fodder']}}</td>
            <td>{{data['loan']}}</td>
            <td>{{data['advance']}}</td>
            <td>{{data['dr_service']}}</td>
            <td>{{data['total']}}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="en">Fodder</td>
            <td class="tn">தீவனம்</td>
            <td>{{data['fodder']}}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="en">Loan</td>
            <td class="tn">கடன்</td>
            <td>{{data['loan']}}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="en">Advance</td>
            <td class="tn">முன்பணம்</td>
            <td>{{data['advance']}}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="en">Dr_Service</td>
            <td class="tn">மருத்துவச் செலவு</td>
            <td>{{data['dr_service']}}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="en">Milking Charge</td>
            <td class="tn">கறவைக்காசு</td>
            <td>{{milking_charge}}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="en"></td>
            <td class="tn"></td>
            <td>{{"%.2f" | format(data['total'] -
                data['fodder'] -
                data['loan'] -
                data['advance'] -
                data['dr_service'] -
                milking_charge)}}</td>
        </tr>
                {% endif %}
            {% endfor %}
         </tbody>
      </table>
      <div id="notices">
        <div class="en">NOTICE:</div>
          <div class="tn">அறிவிப்பு:</div>
        <div class="notice en">Total bill due is deducted with sum of fodder, loan, advance, milking charge and doctor service. </div>
          <div class="notice tn">தீவனம், கடன், முன்பணம், பால் கறக்கும் கட்டணம் மற்றும் மருத்துவர் சேவை ஆகியவற்றுடன் நிலுவையில் உள்ள மொத்த பில் கழிக்கப்படுகிறது.</div>
      </div>
    </main>
    <footer>
      Invoice was created on a computer and is valid without the signature and seal.
    </footer>
        <hr>
        {% endfor %}

<!--          <tr>-->
<!--            <td class="service">Development</td>-->
<!--            <td class="desc">Developing a Content Management System-based Website</td>-->
<!--            <td class="unit">$40.00</td>-->
<!--            <td class="qty">80</td>-->
<!--            <td class="total">$3,200.00</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td class="service">SEO</td>-->
<!--            <td class="desc">Optimize the site for search engines (SEO)</td>-->
<!--            <td class="unit">$40.00</td>-->
<!--            <td class="qty">20</td>-->
<!--            <td class="total">$800.00</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td class="service">Training</td>-->
<!--            <td class="desc">Initial training sessions for staff responsible for uploading web content</td>-->
<!--            <td class="unit">$40.00</td>-->
<!--            <td class="qty">4</td>-->
<!--            <td class="total">$160.00</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td colspan="4">SUBTOTAL</td>-->
<!--            <td class="total">$5,200.00</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td colspan="4">TAX 25%</td>-->
<!--            <td class="total">$1,300.00</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td colspan="4" class="grand total">GRAND TOTAL</td>-->
<!--            <td class="grand total">$6,500.00</td>-->
<!--          </tr>-->

            </div>
          </form>
      </div>
</section>


{% endblock %}


