{% extends "base.html" %}
{% block content %}


{% with messages = get_flashed_messages()%}
        {% if messages %}
        {% for mess in messages%}

                <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>{{error}}</strong>  {{ mess }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
        {% endfor %}
    {% endif %}
    {% endwith %}


<section style="background-size: cover;background-repeat: no-repeat;background-image: url('https://images.unsplash.com/photo-1596733430284-f7437764b1a9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');">

      <div class="row d-flex justify-content-center align-items-center h-100">
          <form class="card" method="POST" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5 en">Milk Ledger</h2>
                <h2 class="text-uppercase text-center mb-5 tn">பால் பேரேடு</h2>

                                <div class="d-flex" style="justify-content: left;">
           <a class="btn btn-success btn-lg text-body en"  href="{{ url_for('milk.invoice_view') }}" > Bill </a>
                    <a class="btn btn-success btn-lg text-body tn"  href="{{ url_for('milk.invoice_view') }}"> பில்</a>

                <div class="d-flex" style="justify-content: right;">
           <a class="btn btn-success btn-lg text-body en"  href={{sheet_url}}> Google Backup </a>
                    <a class="btn btn-success btn-lg text-body tn"  href={{sheet_url}}> Google காப்புப்பிரதி</a>
                </div></div>
                <br>

                <br>
{{form.hidden_tag()}}

    <div class="form-outline mb-4">
        {{form.month.label(class="form-label en")}}
        <label class="form-label tn" for="month">மாதம்</label>
        {% set mon_val = (month.year | string) + "-" + ('%02d' % month.month) %}
        {% if modified_day=="None" %}
            <div class="col-sm">{{form.milked_date(class="form-control form-control-lg", id="milkmonth",
                value=mon_val,onchange="month_handler(event);")}}</div>
        {% else %}
            <div class="col-sm">{{form.month(class="form-control form-control-lg", id="milkmonth",
                value=mon_val,onchange="month_handler(event);")}}</div>
        {% endif %}
    </div>
<!--    <div class="d-flex justify-content-center">-->
<!--                  {{form.submit(class="btn btn-success btn-block btn-lg gradient-custom-4 text-body")}}-->
<!--    </div><br>-->

          {% if monthly_ledger %}

    <div class="table-responsive" >
  <table class="table table-striped" id="sortTable">

  <thead>
    <tr>
        {% for col_no in range(header|length) %}
      <th scope="col" class="thead-dark en">
        {{ header[col_no] }}
      </th>
      {% endfor %}
    </tr>
    <tr>
        {% for col_no in range(header|length) %}
      <th scope="col" class="thead-dark tn">
        {{ tm_header[col_no] }}
      </th>
      {% endfor %}

    </tr>
  </thead>
     <tbody>

     {% for data in monthly_ledger%}
     {% for cust in customer_set %}
     {% if cust.owner_id==data[0]%}
        {% if cust.surname %}
            {% set fullname = cust.name+' '+ cust.surname %}
        {% else %}
            {% set fullname = cust.name%}
        {% endif %}

     <tr>
         <td>{{cust.place}}</td>
         <td>{{fullname}}</td>
         <!--{% if data[4] == 'am' %}
            {% set am_milk = data[3] %}
            {% set pm_milk = 00 %}
         {% elif data[4] == 'pm'%}
            {% set am_milk = 00 %}
            {% set pm_milk = data[3] %}
         {% endif %}-->
<!--         <td>{{"%.3f"| format(data[1])}}</td>-->
<!--         <td>{{"%.3f"| format(data[2])}}</td>-->

         {% set milk = data[1] + data[2] %}
         <td>{{"%.3f" | format(milk)}}</td>
<!--         <td>{{"%.2f"| format(data[3])}}</td>-->
<!--         <td>{{"%.2f"| format(data[4])}}</td>-->
         <td>{{"%.2f" | format(milking_charge) }}</td>
         {% set price = data[3] + data[4] %}
         <td>{{ data[5] }}</td>
         <td>{{ data[9] }}</td>
         <td>{{ data[7] }}</td>
         <td>{{ data[8] }}</td>
         {% set service_charge = data[5] + data[9] + data[7] + data[8]  %}
         <td>{{"%.2f"| format(price - milking_charge - service_charge)}}</td>
        {% endif %}
         {% endfor %}
     {% endfor %}

     </tbody>
  </table>


</div>

          <div class="d-flex justify-content-center">
                  {{form.submit(class="btn btn-success btn-block btn-lg gradient-custom-4 text-body en justify-content-center")}}
                    {{form.submit(class="btn btn-success btn-block btn-lg gradient-custom-4 text-body tn justify-content-center",value="காப்புப்பிரதி எடு")}}
                </div><br>

          {% else %}
         <p class="en" style="text-align: center;">No data Found!</p>
          <p class="tn" style="text-align: center;">ஒரு தகவலும் பதிவில் இல்லை </p>
     {% endif %}

          <div class="d-flex justify-content-center">
    <a href="{{ url_for('core.index') }}" class="btn btn-secondary en">Cancel</a>
                </div>
        <div class="d-flex justify-content-center">
    <a href="{{ url_for('core.index') }}" class="btn btn-secondary tn">ரத்து செய்</a>
                </div>
</div>
          </form>
      </div>
</section>
<script>
    document.getElementById('milkmonth').setAttribute("min","2022-01");




</script>



{% endblock %}


