*.txt
*.xml
apps/Paalkanakku/Paalkanakku/client_secret_367285454255-v4g22iac4c6tlu0c2n5btlp7aeh2nmqp.apps.googleusercontent.com.json
apps/Paalkanakku/Paalkanakku/static/
apps/Paalkanakku/__pycache__/
apps/Paalkanakku/Paalkanakku/__pycache__/

