{% extends "base.html" %}
{% block content %}

{% with messages = get_flashed_messages()%}
        {% if messages %}
        {% for mess in messages%}

        <div class="snackbar show alert alert-warning alert-dismissible fade show" role="alert">
      <strong>{{error}}</strong>  {{ mess }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>


        {% endfor %}
    {% endif %}
    {% endwith %}



<div class="container rounded bg-white mt-5 mb-5">
<form method="POST" action="" enctype="multipart/form-data">
{{form.hidden_tag()}}



    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">



<!--    <div class="profile-pic-wrapper">-->
<!--  <div class="pic-holder">-->
<!--    &lt;!&ndash; uploaded pic shown here &ndash;&gt;-->
<!--    <img id="profilePic" class="pic" src="https://source.unsplash.com/random/150x150">-->

<!--    <Input class="uploadProfileInput" type="file" name="profile_pic" id="newProfilePhoto" accept="image/*" />-->
<!--    <label for="newProfilePhoto" class="upload-file-block">-->
<!--      <div class="text-center">-->
<!--        <div class="mb-2">-->
<!--          <i class="fa fa-camera fa-2x"></i>-->
<!--        </div>-->
<!--        <div class="text-uppercase">-->
<!--          Update <br /> Profile Photo-->
<!--        </div>-->
<!--      </div>-->
<!--    </label>-->
<!--  </div>-->
<!--    </div>-->


        <div class="profile-pic-wrapper">
            <div class="pic-holder">
<!--                <img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">&ndash;&gt;-->
                <div class="image">
                 {% if profile_image %}
                        <img src="{{profile_image}}" class="pic circle responsive-img" alt="No Porfile pic">
                 {% else %}
                        <img class="pic circle responsive-img rounded" src= "/static/images/default_cust.jpg" width="155">
                 {% endif %}
                    {{form.picture(class="form-control uploadProfileInput", id="newProfilePhoto",style="display:none;")}}
                      <label class="upload-file-block" for="newProfilePhoto">
                      <div class="text-center">
                        <div class="mb-2">
                          <i class="fa fa-camera fa-2x"></i>
                        </div>
                          <div class="text-uppercase">
                              {{form.picture.label(class="labels en")}}
                              <div class="labels tn" >சுயவிவர படம்</div>
                            </div>
                      </div>
                      </label>

                </div>
            </div>
        </div>

            <div class="ml-3 w-100">
                <h4 class="mb-0 mt-0">
                    {{form.name.data}}
                    {% if form.surname.data %}
                    {{form.surname.data}}
                    {% endif %}
                </h4>
                <span class="font-weight-bold">
                        {% if form.phone_number.data %}
                    {{form.phone_number.data}}
                    {% endif %}

                </span><br>
                <span class="font-weight-bold">
                {% if form.place.data %}
                    {{form.place.data}}
                    {% endif %}
                </span>
                <hr>
                 <h4 class="mb-0 mt-0"><label class="form-label en" >Milkers</label>
            <label class="form-label tn" >கறவைக்காரர்கள்</label><br></h4>
        {% if milker_names %}
            {% for milker in milker_names %}
        <span class="font-weight-bold">
                {{milker[0]}}
            </span><br>
            {% endfor %}
        {% else %}
            {{"No Milkers Linked to customer"}}
        {% endif %}

<hr>
                <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                    <div class="d-flex flex-column"> <span class="articles">Cows</span> <span class="number1">{{form.cows.data}}</span> </div>
                    <div class="d-flex flex-column"> <span class="followers">KCC Loan</span> <span class="number2">{{form.kcc_loan.data}}</span> </div>
                    <div class="d-flex flex-column"> <span class="rating">Dairy Loan</span> <span class="number3">{{form.dairy_loan.data}}</span> </div>
                </div>
                <div class="button mt-2 d-flex flex-row align-items-center"> <a href="{{url_for('owner.list_own')}}" class="btn btn-sm btn-outline-primary w-100">Back</a>
<!--                    <button class="btn btn-sm btn-primary w-100 ml-2">EDIT</button> -->
                </div>
            </div>
                {% if form.email.data is not none  %}
                <span class="text-black-50">{{form.email.data}}</span><span> </span></div>
                {% else %}
                <span class="text-black-50">email@example.com</span><span> </span></div>
                {% endif %}


        </div>

        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Name</label>
                        {{form.name(class="form-control",id="trans")}}</div>
                    <div class="col-md-6"><label class="labels">Surname</label>
                        {{form.surname(class="form-control",id="trans",placeholder="surname")}}</div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <label class="labels">Mobile Number</label>
                        {{form.phone_number(class="form-control",id="trans",placeholder="enter phone number")}}
                    </div>
                    <div class="col-md-12">
                        <label class="labels">Address Line 1</label>
                        {{form.place(class="form-control",id="trans",placeholder="enter address line 1")}}
                    </div>
                    <div class="col-md-12">
                        <label class="labels">Address Line 2</label>
                        {{form.address_line2(class="form-control",id="trans",placeholder="enter address line 2")}}
                    </div>
                    <div class="col-md-12">
                        <label class="labels">Postcode</label>
                        {{form.pincode(class="form-control",id="trans", placeholder="Enter Pincode" )}}
                    </div>
<!--                    <div class="col-md-12"><label class="labels">Area</label><input type="text" class="form-control",id="trans" placeholder="enter address line 2" value=""></div>-->
                    <div class="col-md-12">
                        <label class="labels">Email ID</label>
                        {{form.email(class="form-control",placeholder="enter email id")}}
                    </div>
<!--                    <div class="col-md-12"><label class="labels">Education</label><input type="text" class="form-control",id="trans" placeholder="education" value=""></div>-->
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">Country</label>
                        {{form.country(class="form-control",id="trans",placeholder="இந்தியா")}}</div>
                    <div class="col-md-6"><label class="labels">State/Region</label>
                        {{form.state(class="form-control",id="trans",placeholder="தமிழ் நாடு")}}</div>
                </div>
                <div class="mt-5 text-center">{{form.submit(class="btn btn-primary profile-button")}}</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center experience">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Loan Details</h4>
                </div>
<!--                    <span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Experience</span>-->
                </div><br>
                <div class="col-md-12"><label class="labels">{{form.cows.label}}</label>
                    {{form.cows(class="form-control",id="trans")}}</div> <br>
                <div class="col-md-12"><label class="labels">{{form.dairy_loan.label}}</label>
                    {{form.dairy_loan(class="form-control",id="trans", placeholder="Enter Dairy Loan")}}</div> <br>
                <div class="col-md-12"><label class="labels">{{form.kcc_loan.label}}</label>
                    {{form.kcc_loan(class="form-control",id="trans", placeholder="Enter KCC Loan")}}</div> <br>
            </div>
        </div>
    </div>
</div>
</div>
</div>




{% endblock %}

