{% extends "base.html" %}
{% block content %}

{% with messages = get_flashed_messages()%}
        {% if messages %}
        {% for mess in messages%}

        <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>{{error}}</strong>  {{ mess }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>


        {% endfor %}
    {% endif %}
    {% endwith %}




    <div class="card" style="border-radius: 15px;">
                <div class="card-body p-5">

<h1 class="h1font">Welcome to MilkyLedger</h1>
    <p class="pfont">This app will take care of your Daily Milk Data! </p>

</div>

<div class="container">
    <div
  class="bg-image"
  style="background-image: url('https://images.unsplash.com/photo-1596733430284-f7437764b1a9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 25px;">
    </div>
</div>
</div>

{% endblock %}
