{% extends "basic.html" %}
{% block content %}

<hr class=" border-2" style="margin-bottom:3rem">

<!--nav class="bg-dark navbar-dark">
  <div class="container">
    <a href="" class="navbar-brand"><i class="fas fa-tree mr-2"></i>Forest</a>
  </div>
  </nav>
   <section id="header" class="jumbotron text-center">
     <h1 class="display-3">FOREST</h1>
     <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
     <a href="" class="btn btn-primary">Click</a>
     <a href="" class="btn btn-secondary">Click</a>
</section!-->

<section id="gallery">
  <div class="container">
    <div class="row">
        {% for key, values in card.items() %}
    <div class="col-lg-4 mb-4">
    <div class="card">
      <img src="{{values[0]}}">
      <div class="card-body">
        <h5 class="card-title">{{key}}</h5>
        <p class="card-text">{{values[1]}}</p>
          <a href="{{url_for(values[2])}}" class="stretched-link"></a>
       <!--a href="" class="btn btn-outline-success btn-sm">Read More</a!-->
        <!--a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a!-->
      </div>
     </div>
    </div>
        {% endfor %}
  </div>
</div>
</section>



{% endblock %}
